---
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v4

      - name: Update brew
        run: brew update

      - name: Install shellcheck
        run: brew install shellcheck

      - name: Run shellcheck
        run: shellcheck mac -e SC1091

      - name: sh mac
        run: sh mac
